.history-item {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}



@media screen and (min-width: 767px) {
  .history-item {
    flex-direction: row;
    align-items: center;
  }
}

.history-timeAccessed-container {
  margin-right: 5px;
  width: 100px;
}

.history-timeAccessed {
  font-size: 20px;
  font-family: 'Roboto';
  color: #475569;
}

@media screen and (min-width: 767px) {
  .history-timeAccessed-container {
    margin-bottom: 5px;
  }
}

.history-details-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.website-details-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo-icon {
  height: 45px;
  width: 45px;
}

.domain-details {
  margin-left: 8px;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 767px) {
  .domain-details {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.domain-name {
  font-size: 22px;
  margin-right: 10px;
  color: #000000;
}

.domain-url {
  font-size: 16px;
  color: #64748b;
}

.delete-icon-container {
  outline: none;
  cursor: pointer;
}

.button {
  background-color: transparent;
  border: 0px;
  outline: none;
}

.delete-icon {
  height: 25px;
  width: 25px;
}
